# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.node

c_hello
cpp_hello
nim_hello
hello
rust_hello
d_hello

# nimrod generated code
nimcache/*.c

*.class

.tup/
